<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--BTC donation: 15WnvJt7GCasvWuntB6AJSwVfuG7p5r7Ev"-->
    <!--Ether donation: b6f7d015910004953799793fc512309f5fbc0803"-->
    
    <!--POOL-->
    <add key="pool" value="nanopool"/> <!--mettre votre pool: "nicehash" ou "nanopool" ou "zpool" ou "yiimp" par default nanopool-->
    
    <!--Miner-->
    <add key="Adresse_mining" value="votre adresse"/>  <!--Adresse du eth(0x) ou btc du miner ou autre pour yiimp-->
    <add key="Worker_name" value="rigName"/>  <!--nom du worker donner attention très important doit respecter la case!-->
    <add key="interval_temps" value="5000"/> <!--intervalle de temps en milliseconde dans lequel le worker est testé-->
    <add key="Restart_miner" value="true"/>  <!--redemmare le miner si probleme de minage, mettre FALSE si non utilisé-->
    
    <!--SMS-->
    <add key="Utiliser_free_sms" value="true"/> <!--utilise le service de free pour envoyé des sms, mettre FALSE si non utilisé-->
    <add key="free_user" value="3x3x3x3"/><!--utilisateur donner dans la section option une fois l'option gratuite activée-->
    <add key="free_pass" value="3x3x3x3"/><!--pass donner dans la section option une fois l'option gratuite activée-->   
    
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
